<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Weather App</title>
</head>

<body>
    {{>header}}
    <h5 style="text-align: center">Find weather information of your current location.</h5>
    <br>
    <form class="search-form">
        {{>search}}
    </form>
    <br><br><br>
    <div class="result">
    </div>

    {{>footer}}



    <script src="js/main.js"></script>
</body>

</html>